* {
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.containerFormCreate {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130vh;
  background-color: #1a1b1fee;

}

.boxFormCreate {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 25rem;
  padding: 3rem;
  background-color: #14151aee;
  border: solid #1a1b1fee 2px;
  border-radius: 2rem;

}

.FormCreate {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inpNameCrete,
.inpCreateEmail,
.inpCreateNickName,
.inpCreatePass {
  height: 2.3rem;
  margin-bottom: 1.4rem;
  background-color: #24272e0c;
  color: #fff;
  border: solid #66bcef 2px;
  

}

.inpNameCrete:focus,
.inpCreateEmail:focus,
.inpCreateNickName:focus,
.inpCreatePass:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
  border: solid #66bcef 2px;
  /* border: solid #774192 2px; */

}

.inpNameCrete:hover,
.inpCreateEmail:hover,
.inpCreateNickName:hover,
.inpCreatePass:hover {
  border: solid #66bcef  2px;
}

.nameCreate,
.emailCreate,
.nickNameCreate,
.passCreate {
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
  color: #fff;
}

.btnCriarConta {
  padding: 0.6rem 1rem 0.6rem 1rem;
  height: 2.7rem;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  border-radius: 4%;
  margin-top: 2rem;
  cursor: pointer;
  background-color: #24272e0c;
  color: #fff;
  border: solid #66bcef 2px;

}

.btnCriarConta:hover {
  border: solid #66bcef 2px;

  color: #66bcef;
}

.titleCreate {
  font-size: 1.4rem;
  margin-bottom: 3rem;
  color: #fff;
  text-align: center;
  font-weight: 400;
}
