* {
    padding: 0px;
    border: 0px;
    box-sizing: border-box;

}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: #171A21;
    color: #fff;
    height: 7rem;

}

.title {
    font-size: 2rem;
    font-weight: 700;
}

.mainName {
    color: #66BCEF;

}

.login, .home {
    color: #fff;
    text-decoration: none;
    margin: 0.5rem;
}

.login:hover, .home:hover {
    color: #66BCEF
}

